body {
  margin: 0;
  padding: 0;
}

#bg {
  background-image: url("../homepage-img/homepage-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#content {
  position: relative;
  font-family: 'Rubik', sans-serif;
  color: #fff ;
  text-align: center;
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 5%;
}

#info1 {
  font-size: 1.25rem;
  margin-bottom: 3vh;
}

#info2 {
  font-size: 1.25rem;
}

#buttons {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  justify-content: center;
}

.message-button{
  border-color: #fff;
  border-style: solid;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(90, 84, 148);
  padding: 15px 32px;
  text-align: center;
  cursor:pointer;
  font-size: 20px;
  position: relative;
  margin: 1vw;
}

/* Fonts */

.font-bebas{
  letter-spacing: 1px;
  font-family: 'Bebas Neue', cursive;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}


/* Error message */

#errormessage-spread{ /* Applies by default to larger screens and/or non-touchscreen devices */
  position: fixed;
  background-color: rgba(90, 84, 148, 0.96);
  color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

#errormessage-textbox{
  text-align: center;
}

#errormessage-button{
  border-color: #fff;
  border-style: solid;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(90, 84, 148);
  padding: 15px 32px;
  text-align: center;
}

#errormessage-button:hover{
  background-color: rgb(121, 116, 174);
}

/* Media Queries */

@media (orientation: landscape) {
#errormessage-spread{
      display: none;
  }  
}