body{
    margin: 0px;
    padding: 0px;
}

h3{
    font-size: 3em;
    margin: 0px;
}

h4{
    font-size: 2em;
    margin: 0px;
}

.no-scrollbar{ /* Removes scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer & Edge */
}
.no-scrollbar::-webkit-scrollbar{
    display: none; /* Webkit Browsers (Chrome, Safari, Opera) */
}

.message-button{
    border-color: #fff;
    border-style: solid;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(90, 84, 148);
    padding: 15px 32px;
    text-align: center;
}

/* Swiper */

.swiper {
    width: 100vw;
    height: 100vh;
}

.swiper-button-prev {
    color: #fff; 
}

.swiper-button-next {
    color: #fff; 
}

/* Spaceship */

#spaceship{
    background-image: url("../img/Spaceship.png");
    display: block;
    position: fixed;
    top: 60vh;
    left: 50vw;
    z-index: 2;
    /*background-repeat: no-repeat; */
    pointer-events: none; 
    width: 178px;
    height: 120px;
    background-size: 178px 137px; /* should equal width and height */
    background-size: 178px 137px;
    /*margin-top: 76.96%; */
}

.spaceship-flying{
    background-image: url("../img/Spaceship flying.png") !important;
}

/* Planetpage */

.planetpage-container{
    position: relative; /* set to relative as parallax-bg is set to absolute */
    display: flex;
    align-items: center; /* Items stay at 50% height */
    justify-content: center; /* Items stay at 50% width */
    gap: 5%;
    color: #fff;
}

.planet-img{
    max-width: 300px;
    max-height: 300px;
    flex: 1;
}

.planetpage-textbox{
    max-width: 30vw;
    flex: 2;
    align-items:center;
    font-size: 17px;
    text-align:left;
}

.planetpage-desc{
    text-align: left;
}

.narrative-title {
    font-size: 3rem;
    width:50%;
    font-weight: bold;
    text-align: center;
}

.narrative-desc {
    font-size: 2rem;
    width:50%;
    text-align: center;
}

.narrative-desc-small {
    font-size: 1.75rem;
    width:50%;
    text-align: center;
}

.parallax-bg{
    position: absolute;
    left: -30%;
    top: 0;
    width: 250%;
    height: 100%;
    /*-webkit-background-size: cover; */
    background-size: cover;
    background-position: center;
    background-image: url("../img/space_bg_1920x1080.jpg");
}

/* Scroll animation */

.scroll-ani {
    width: 200px;
    height: 150px;
    opacity: 90%;
}

.swipe-to-scroll {
    transform: translateY(10vh);
}

/* Fonts */

.font-bebas{
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}

.font-rubik {
    font-family: 'Rubik', sans-serif;
}

/* Animations */

.anim-fade-out{
    animation: fadeOut 0.8s;
    animation-fill-mode:forwards;
}

.anim-fade-out-slow{
    animation: fadeOut 1s;
    animation-fill-mode:forwards;
}

.anim-fade-in{
    animation: fadeIn 0.8s;
    animation-fill-mode:forwards;
}

@keyframes fadeOut{
    0%{opacity:1}
    100%{opacity:0}
}

@keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
}

/* Utility */

.position-center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-direction-vertical{
    flex-direction: column;
}

.flipped{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Load Screen */
#loader{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(123, 114, 200, 0.96);
    color: #fff;
    text-align: center;
    pointer-events: none; 
}

/* Error message */

#errormessage-spread{ /* Applies by default to larger screens and/or non-touchscreen devices */
    position: fixed;
    background-color: rgba(90, 84, 148, 0.96);
    color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

#errormessage-textbox{
    text-align: center;
}

#errormessage-button{
    border-color: #fff;
    border-style: solid;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(90, 84, 148);
    padding: 15px 32px;
    text-align: center;
}

#errormessage-button:hover{
    background-color: rgb(121, 116, 174);
}

/* Media Queries */

@media screen and (max-width: 1200px){
    /* Tablet Scaling for text / img */
    h3{
        font-size: 1.5em;
    }
    
    h4{
        font-size: 1em;
    }    

}

@media screen and (max-width: 640px) and (orientation: landscape) { /* Small screens (presumably mobile) */ 
    #errormessage-spread{
        display: none;
    }   
}

/* Touchscreens */
@media (pointer: coarse) and (orientation: landscape) {
	#errormessage-spread{
        display: none;
    }  
}

/* Desktop / Laptop (devices using a mouse pointer) */
/* set visible */
@media (pointer: fine){
    #errormessage-spread{
        display: block;
    }  
}

