body{
    margin: 0px;
    padding: 0px;
}

h3{
    font-size: 3.74em;
    margin: 0px;
}

.no-scrollbar{ /* Removes scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer & Edge */
}
.no-scrollbar::-webkit-scrollbar{
    display: none; /* Webkit Browsers (Chrome, Safari, Opera) */
}

/* Swiper */

.swiper {
    width: 100vw;
    height: 100vh;
}

.planetpage-container{
    left: 0;
    position: relative; /* set to relative as parallax-bg is set to absolute */
    display: flex;
    align-items: center; /* Items stay at 50% height */
    justify-content: center; /* Items stay at 50% width */
    gap: 5%;
    color: #fff;
}

.swiper-button-prev {
    color: #fff; 
}

.swiper-button-next {
    color: #fff; 
}


/* Planetpage */

.planet-img{
    max-width: 40vw;
    flex: 1;
}

.planetpage-textbox{
    max-width: 30vw;
    flex: 2;
}

.parallax-bg{
    position: absolute;
    left: -30%;
    top: 0;
    width: 250%;
    height: 100%;
    /*-webkit-background-size: cover; */
    background-size: cover;
    background-position: center;
    background-image: url("../img/space_bg_1920x1080.jpg");
}

/* Fonts */

.font-bebas{
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}

.font-rubik {
    font-family: 'Rubik', sans-serif;
}

/* utility */

.position-center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Error message */

#errormessage-spread{ /* Applies by default to larger screens and/or non-touchscreen devices */
    position: fixed;
    background-color: rgba(90, 84, 148, 0.96);
    color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

#errormessage-textbox{
    text-align: center;
}

#errormessage-button{
    border-color: #fff;
    border-style: solid;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(90, 84, 148);
    padding: 15px 32px;
    text-align: center;
}

#errormessage-button:hover{
    background-color: rgb(121, 116, 174);
}

@media screen and (max-width: 640px) and (orientation: landscape) { /* Small screens (presumably mobile) */ 
    #errormessage-spread{
        display: none;
    }   
}

/* Touchscreens */
@media (pointer: coarse) and (orientation: landscape) {
	#errormessage-spread{
        display: none;
    }  
}

/* Desktop / Laptop (devices using a mouse pointer) */
/* set visible */
@media (pointer: fine){
    #errormessage-spread{
        display: block;
    }  
}