*{
    margin: 0px;
}

.no-scrollbar{ /* Removes scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer & Edge */
}
.no-scrollbar::-webkit-scrollbar{
    display: none; /* Webkit Browsers (Chrome, Safari, Opera) */
}

.swiper {
    width: 100vw;
    height: 100vh;
}

.planetpage-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}