body{
    margin: 0px;
    padding: 0px;
}

.no-scrollbar{ /* Removes scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer & Edge */
}
.no-scrollbar::-webkit-scrollbar{
    display: none; /* Webkit Browsers (Chrome, Safari, Opera) */
}

/* Swiper */

.swiper {
    width: 100vw;
    height: 100vh;
}

.planetpage-container{
    left: 0;
    position: relative; /* set to relative as parallax-bg is set to absolute */
    display: flex;
    align-items: center; /* Items stay at 50% height */
    justify-content: center; /* Items stay at 50% width */
    gap: 10%;
    color: #fff;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
} 

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

/* Wrong Screensize spread */

#wrong-screensize-spread{
    position: fixed;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

/* Planetpage */

.planetpage-textbox{
    width: 40%;
}

.parallax-bg{
    position: absolute;
    left: -30%;
    top: 0;
    width: 190%;
    height: 100%;
    /*-webkit-background-size: cover; */
    background-size: cover;
    background-position: center;
    background-image: url("../img/space_bg_1920x1080.jpg");
}
