body{
    margin: 0;
    padding: 0;
    background-image: url("../img/space_bg_1920x1080.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    min-height: 100vh;
}

.text {
    text-align:center;
}

h1{
    text-align:center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    position: relative;
    color: #fff;
}

h2{
    text-align: center;
    font-size: 1.2rem;
    font-family:'Rubik', sans-serif;
    width: 65%;
    text-align: center;
    margin: auto;
    position: relative;
    color: #fff;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family:'Rubik', sans-serif;
    width: 65%;
    text-align: center;
    margin: auto;
    position: relative;
    color: #fff;
    padding-top: 2vw;
}

.font-rubik {
    font-family:'Rubik', sans-serif;
}

.font-bebas{
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}

#homescreen-button{
    position: absolute;
    top: 3vh;
    left: 3vw;
    z-index: 2;
}

.message-button{
    border-color: #fff;
    border-style: solid;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(90, 84, 148);
    padding: 15px 32px;
    text-align: center;
    cursor:pointer;
    font-size: 20px;
    margin:0;
    top: 5vw;
    left: 5vw;
}

.non-clickable{
    pointer-events: none; 
}

.tap-gif {
    width: 60%;
    transform: translateX(18vw) translateY(-30vh);
    height: 0;
}

.fact1 img {
    width: 25%;
    transform: translateX(10vw) translateY(7vh);
}

.fact2 img {
    width: 30%;
    transform: translateX(57vw) translateY(-25vh);
}

.fact3 img {
    width: 22%;
    transform: translateX(37vw) translateY(-5vh);
}

.wis-image{
    max-width: 35vh;
}

.popupText1 {
    position: absolute;
    width: 35vw;
    height: auto;
    top: 63vh;
    left: 3vw;
    background-color:#f0bf84;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    visibility: hidden;
    text-align: center;
    border-radius: 15px;
    font-size: 1rem;
    filter: drop-shadow(1px 1px 10px rgba(22, 22, 22, 0.5));
  }

  .popupText2 {
    position: absolute;
    width: 40vw;
    height: auto;
    top: 60vh;
    left: 50vw;
    background-color:#f0bf84;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    visibility: hidden;
    text-align: center;
    border-radius: 15px;
    font-size: 1rem;
    filter: drop-shadow(1px 1px 10px rgba(22, 22, 22, 0.5));
  }

  .popupText3 {
    position: absolute;
    width: 25vw;
    height: auto;
    top: 80vh;
    left: 62vw;
    background-color:#f0bf84;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    visibility: hidden;
    text-align: center;
    border-radius: 15px;
    font-size: 1rem;
    filter: drop-shadow(1px 1px 10px rgba(22, 22, 22, 0.5));
  }

  .popupText{
    visibility: hidden;
  }

  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

/* Error message */

#errormessage-spread{ /* Applies by default to larger screens and/or non-touchscreen devices */
    position: fixed;
    background-color: rgba(90, 84, 148, 0.96);
    color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

#errormessage-textbox{
    text-align: center;
}

#errormessage-button{
    border-color: #fff;
    border-style: solid;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(90, 84, 148);
    padding: 15px 32px;
    text-align: center;
}

#errormessage-button:hover{
    background-color: rgb(121, 116, 174);
}

/* Media Queries */

@media (orientation: landscape) {
	#errormessage-spread{
        display: none;
    }  
}

@media screen and (min-width: 1200px){ /* Small screens (presumably mobile) */ 
    .tap-gif {
        transform: translateX(10vw) translateY(-30vh);
    }
    
}
