*{
    color:rgb(255, 255, 255);
    font-size: 16px;
  /*  background-image: url("../img/space_bg_1920x1080.jpg"); */
}
body{
    background-image: url("../img/space_bg_1920x1080.jpg");
}

.image{   /* link: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div */
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
.text{
    text-align:center;
}
h1{
    text-align:center;
}
h2{
text-align: center;
}
h3{
    color:rgb(253, 253, 255); /* this needs to change once the background has been added! */
}
/* fonts: needs to be put into file to work*/
.font-rubik {
    font-family:'Rubik', sans-serif;
}